<html>

<head>
<meta charset="UTF-8">

    <title>Liste de choses à étudier en SIO2</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>

<body>
<div id="root" class="container">
<competence titre="SLAM3" contenu="Data - Bases de données - Modélisation UML"> </competence>
    <modal v-if="DetailSLAM3" @close="DetailSLAM3=false">
        Analyse d'un document référent qui servira pour la communication au cours d'un projet, de référence pour la mise en place de la base de données correspondante, et du développement d'applications clientes. L'objectif est de s'approprier un document...
    </modal>
    <button @click="DetailSLAM3=true"> Voir détails</button>

    <competence titre="SLAM4" contenu="Composants logiciels - Développement OO - Librairies"> </competence>
    <modal v-if="DetailSLAM4" @close="DetailSLAM4=false">
        Réalisation et maintenance de composants logiciels" est une matière qui se déroule pendant la 2ème année du BTS. Enseigné par un professeur de programmation, ce module nous permet de construire notre savoirs, liés à la mise en œuvre d’environnements de développement, notamment à l’utilisation et à l’enrichissement de bibliothèques de composants logiciels et à la programmation.
    </modal>
    <button @click="DetailSLAM4=true"> Voir détails</button>
<competence titre="SLAM5" contenu="Solutions applicatives"> </competence>
    <modal v-if="DetailSLAM5" @close="DetailSLAM5=false">
        Revoir les fondamentaux du développement Web.
        Mettre en place une architecture logicielle professionnelle et programmer dans le cadre d’un framework.
        Participer à un projet logiciel en équipe en appliquant une méthodologie agile simple.
    </modal>
    <button @click="DetailSLAM5=true"> Voir détails</button>

    <competence titre="PPE" contenu="PPE - Laravel - Vue - Android - Agile"> </competence>


<modal v-if="montreDetail" @close="montreDetail=false">
    La Data est un élement fondamental pour le Développement
</modal>

    <button @click="montreDetail=true"> Voir détails</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="050_MultCompVueBis.js"></script>
</body>

</html>